.drawingItem {
  font-weight: 400;
  cursor: pointer;
}
.drawingItem:hover {
  font-weight: 700;
}
.active {
  text-decoration: underline;
  cursor: default;
}
body {
  background-color: aliceblue;
}
